<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>A tool for annotating text</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
	</head>
	<body>
		<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
	        <br><br><br><br>
        </header>
        <main ng-controller="Vocabulary">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div style="width: 150px">
							<div sticky-column class="sticky-column">
								<div ng-show="fileLoaded">
									<a href="{{url + 'entry-point/saveFile'}}" class="btn btn-primary"  target="_blank" >Get annotations file</a> <br><br><br>
								</div>

								<div ng-show="!fileLoaded">
									<p>
										Load file for annotation.
									</p>
									<p>If you want to edit an already annotated file, select the annotation along with the file.<br>
										Example file names:<br>
										<i>example.txt</i><br>
										<i>example_ann.json</i>
									</p>
								</div>

								<div  ng-show="!search && !edit && !save && fileLoaded">
                                    <p>Select the desired part of the text for annotation and click "search.</p>
									<p>To edit the annotation, click on it</p>
									<p>Settings: <br><b>TGN</b> - The Getty Thesaurus of Geographic Names<br>
										<b>AAT</b> - The Art & Architecture Thesaurus <br>
										<b>ULAN</b> - The Union List of Artist Names
									</p>

									<p>For <b>Brief</b> is used predicate luc:term, for <b>Full</b>, is used predicate luc:text</p>
								</div>

								<div ng-show="search">
									Сheck the required words. The <b>uri</b> leads to the site http://www.getty.edu/. The annotation will be added to all selected parts. To deselect - just click on it.
								</div>

								<div ng-show="edit">
									<p>For editing, check the required checkboxes. </p>
									<p>To copy the annotation, click the "copy" button below: <br>
										<span class="btn btn-default" ng-click="copyAnnotation(editAnnotationID)">Copy</span><br>
									</p>

								</div>

								<div ng-show="save">
									The annotation was copied. To transfer it to another piece of text, select it and press the "paste" button below:<br>
									<span ng-show="save" class="btn btn-default" ng-click="pasteAnnotation()">Paste</span>
								</div>
							</div>
						</div>
					</div>
					<div id="text" class="col-md-6">
						<div class="alerts">
						    <div ng-hide="!alerts.length"  sticky-column class="sticky-column" >
							    <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
						    </div>
						</div>
						<form>
						    <div  class="form-group">
							    <!--input type = "file" file-model = "myFile"  /-->
							    <input type = "file" ng-file-model="files" multiple />
						    </div>
							<button  class="btn btn-default" ng-click="uploadFile()">Upload file</button>
							<br><br><br>
							<div class="loader" ng-show="loader"><div class="loader-content">Loading...</div></div>
						</form>

						<div id="text-parent">
							{{text}}</div>

					</div>
					<div id="vocabulary" class="col-md-4" >
						<form class="form-inline" ng-submit="searchSelection()">
						  <div class="form-group">
						    <div class="input-group">
						      	<div class="input-group-addon btn-group"><span class="glyphicon glyphicon-search"></span></div>
						      	<input id="searchinput" class="form-control" ng-get-selection="searchForm.search" ng-model="searchForm.search">
								<span  ng-click="clearSelection()" id="searchclear" class="glyphicon glyphicon-remove-circle"></span>
								<div class="input-group-btn">
									<button type="submit" class="btn btn-default">Find</button>
								</div>
						    </div>
						  </div>

							<div class="vocabulary-find-options"><div class="form-group">
								<label class="radio-inline">
									<input ng-model="searchForm.indexDataset" checked type="radio" name="indexDataset" id="index-dataset-AAT" value="aat"> AAT
								</label>
								<label class="radio-inline">
									<input ng-model="searchForm.indexDataset" type="radio" name="indexDataset" id="index-dataset-TGN" value="tgn" disabled> TGN
								</label>
								<label class="radio-inline">
									<input ng-model="searchForm.indexDataset" type="radio" name="indexDataset" id="index-dataset-ULAN" value="ulan" disabled> ULAN
								</label>
							</div><br>
							<div class="form-group">
								<label class="radio-inline">
									<input ng-model="searchForm.luceneIndex" checked type="radio" name="luceneIndex" id="lucene-index-bried" value="brief"> brief
								</label>
								<label class="radio-inline">
									<input ng-model="searchForm.luceneIndex" type="radio" name="luceneIndex" id="lucene-index-full" value="full"> full
								</label>
							</div>
							</div>
						</form>


						<form ng-show="search" ng-submit="addAnnotation()">
							<h2>{{findString}}</h2>
							<div class="loader" ng-show="loader"><div class="loader-content">Loading...</div></div>

							<div ng-show="!loader && !bindings.length">Not found</div>

							<div class="checkbox" ng-repeat="word in bindings" ng-show="!loader">
							    <label popover-placement="right"
								popover-popup-close-delay="0"
								popover-trigger="'mouseenter'"
									   uib-popover="{{word.ScopeNote.value}}"
								popover-title="Parent: {{word.Parents.value}}">
							        <input type="checkbox" checklist-model="formData.words" checklist-value="word.Subject.value">
									<span>{{word.Term.value}}</span>
							    </label>
								<a href="{{word.humanURI}}" target="_blank">uri</a>
							</div>
							<button type="submit" class="btn btn-default" ng-show="!loader && bindings.length">Add annotation</button>
						</form>

						<form ng-show="edit" ng-submit="editAnnotationOnServer(editAnnotationID)">
							<h2>{{findString}}</h2>
							<div class="loader" ng-show="loader"><div class="loader-content">Loading...</div></div>

							<div ng-show="!loader && !bindings.length">Not found</div>

							<div class="checkbox" ng-repeat="word in bindings"  ng-show="!loader">
								<label popover-placement="right"
									   popover-popup-close-delay="0"
									   popover-trigger="'mouseenter'"
									   uib-popover="{{word.ScopeNote.value}}"
									   popover-title="Parent: {{word.Parents.value}}">
									<input type="checkbox" checklist-model="formData.words" checklist-value="word.Subject.value">
									<span>{{word.Term.value}}</span>
								</label>
								<a href="{{word.humanURI}}" target="_blank">uri</a>
							</div>
							<button type="submit" class="btn btn-default" ng-show="!loader && bindings.length">Edit annotation</button>
						</form>
					</div>
				</div>
			</div>
			<script type="text/ng-template" id="myModalContent.html">
				<div class="modal-header">
					<h3 class="modal-title" id="modal-title">I'm a modal!</h3>
				</div>
				<div class="modal-body" id="modal-body">

					Selected:
				</div>

			</script>
        </main>
        <footer>
	        <br><br><br><br>
        </footer>

        <script src="lib/angular.min.js"></script>
		<script src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
        <script src="lib/checklist-model.js"></script>
		<script src="lib/contextMenu.js"></script>

        <script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<script src="js/directives.js"></script>
		<script src="js/filters.js"></script>
		<script src="js/services.js"></script>

	</body>
</html>