<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Prototype</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
	</head>
	<body>
		<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <header>
	        <br><br><br><br>
        </header>
        <main>
			<div class="container">
				<div class="row">
					<div id="text" class="col-md-6">Art is a diverse range of human activities in creating visual, auditory or performing artifacts (artworks), expressing the author's imaginative or technical skill, intended to be appreciated for their beauty or emotional power. In their most general form these activities include the production of works of art, the criticism of art, the study of the history of art, and the aesthetic dissemination of art.

						</p><p>The oldest documented forms of art are visual arts, which include creation of images or objects in fields including today painting, sculpture, printmaking, photography, and other visual media.

						</p><p>Architecture is often included as one of the visual arts; however, like the decorative arts, or advertising, it involves the creation of objects where the practical considerations of use are essential—in a way that they usually are not in a painting, for example.

						</p><p>Music, theatre, film, dance, and other performing arts, as well as literature and other media such as interactive media, are included in a broader definition of art or the arts. Until the 17th century, art referred to any skill or mastery and was not differentiated from crafts or sciences.

						</p><p>In modern usage after the 17th century, where aesthetic considerations are paramount, the fine arts are separated and distinguished from acquired skills in general, such as the decorative or applied arts.

						</p><p>Art may be characterized in terms of mimesis (its representation of reality), narrative (storytelling), expression, communication of emotion, or other qualities. During the Romantic period, art came to be seen as "a special faculty of the human mind to be classified with religion and science".

						</p><p>Though the definition of what constitutes art is disputed and has changed over time, general descriptions mention an idea of imaginative or technical skill stemming from human agency and creation.

						</p><p>The nature of art and related concepts, such as creativity and interpretation, are explored in a branch of philosophy known as aesthetics.</p>
					</div>
					<div id="vocabulary" class="col-md-6" ng-controller="Vocabulary as v">
						<form class="form-inline" ng-submit="v.saveSelection()">
						  <div class="form-group">
						    <div class="input-group">
						      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
						      <input type="text" class="form-control" ng-get-selection="v.searchForm.search" ng-model="v.searchForm.search">
						    </div>
						  </div>
							<button type="submit" class="btn btn-default">Find</button>
							<div class="vocabulary-find-options"><div class="form-group">
								<label class="radio-inline">
									<input ng-model="v.searchForm.indexDataset" checked type="radio" name="indexDataset" id="index-dataset-AAt" value="aat"> AAT
								</label>
								<label class="radio-inline">
									<input ng-model="v.searchForm.indexDataset" type="radio" name="indexDataset" id="index-dataset-TNG" value="tng"> TNG
								</label>
								<label class="radio-inline">
									<input ng-model="v.searchForm.indexDataset" type="radio" name="indexDataset" id="index-dataset-ULAN" value="ulan"> ULAN
								</label>
							</div><br>
							<div class="form-group">
								<label class="radio-inline">
									<input ng-model="v.searchForm.luceneIndex" checked type="radio" name="luceneIndex" id="lucene-index-bried" value="brief"> brief
								</label>
								<label class="radio-inline">
									<input ng-model="v.searchForm.luceneIndex" type="radio" name="luceneIndex" id="lucene-index-full" value="full"> full
								</label>
							</div>
							</div>
						</form>

						<div class="loader" ng-show="loader"><div class="loader-content">Loading...</div></div>
						<form ng-hide="loader">
							<h2>{{findString}}</h2>
							<div class="checkbox" ng-repeat="word in bindings">
							    <label>
							        <input type="checkbox" value="option1" >
									<a href="{{word.Subject.value}}">{{word.l.value}}</a>
							    </label>
							</div>
							<button type="submit" class="btn btn-default" ng-click="select()" ng-show="bindings.length">Link</button>
						</form>
						<!--ul class="nav nav-pills nav-stacked">
							<li><a href=""><span>Concept.</span> adventure stories</a></li>
							<li><a href=""><span>Concept.</span> children's literature</a></li>
							<li><a href=""><span>GuideTerm.</span> &lt;people in literature&gt;</a></li>
							<li><a href=""><span>GuideTerm.</span> &lt;people in literature-related occupations&gt;</a></li>
							<li><a href=""><span>Concept.</span> comparative literature</a></li>
							<li><a href=""><span>Concept.</span> epic literature</a></li>
							<li><a href=""><span>GuideTerm.</span> &lt;people in literature and related occupations&gt;</a></li>
							<li><a href=""><span>Concept.</span> literary criticism</a></li>
							<li><a href=""><span>Concept.</span> literature (discipline)</a></li>
						</ul-->



					</div>
				</div>
			</div>
        </main>
        <footer>
	        <br><br><br><br>
        </footer>
        <!--script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script-->
        <script src="lib/angular.min.js"></script>
        <script src="lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
        <script src="js/app.js"></script>
	</body>
</html>